.modules-container {
  margin: 5vw;
  background-color: #ebe8ef44;
  border-radius: 20px;
  padding: 30px;
  height: 100%;
  width: 45%;
}
@media (max-width: 768px) {
  .modules-container {
    width: 70%;

  }
}

.variant1 {
  color: #170523;
  font-family: 'Lexend', sans-serif;
  font-weight: 800;
  font-size: 4.15vw;
  margin: 0;

}

.variant2 {
  color: #170523;
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.variant5 {
  color: #170523;
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-align: justify;
}
.play-button {
  background-color: #170523;
  width: 110px;
  height: 30px;
  border-radius: 20px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  margin: auto;
}

.play-button:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.variant3 {
  color: white;
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.landingBg {
  /*background-image: url(../../../../assets/bg-methodologic-reto.png);*/
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
