<div class="landingBg">
  <div class="modules-container">
    <p class="variant2">METODOLOGIC</p>
    <mat-divider/>
    <p class="variant1">Descubra qual <span style="color: #f9e93e;"> metodologia</span> utilizar</p>
    <p class="variant5">Methodologic é uma gamificação para o ensino de metodologias
      para escrita científica. A gamificação de ensino de metodologia
      científica é uma abordagem que utiliza elementos de jogos para tornar
      o aprendizado mais engajador e divertido.
    </p>
    <button class="play-button" routerLink="/journey"><p class="variant3">Jogar</p></button>
  </div>
</div>


