.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.login-circle {
  background-color: #cdc7d9;
  border-radius: 50px;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.variant4 {
  color: #170523;
  font-family: 'Lexend', sans-serif;
  font-weight: 700;
  font-size: calc(35px - 0.5vw);
  margin: 10px;
}

.login-button {
  background-color: #f9e93e;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.login-button:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.variant3 {
  color: #170523;
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

#senha-texto {
  color: #170523;
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 15px;
  cursor: pointer;
}


#conta-texto {
  color: #170523;
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 12px;
  cursor: pointer;
}
