.form-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
}

.login-circle {
  background-color: #cdc7d9;
  border-radius: 50px;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.variant4 {
  color: #50ADE4;
  font-family: 'Lexend', sans-serif;
  font-weight: 700;
  font-size: calc(35px - 0.5vw);
  margin: 10px;
}

.login-button {
  background-color: #f9e93e;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 8px;
}

.login-button:hover{
  background-color: #e9590667;
}

.variant3 {
  color: #50ADE4;
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

#senha-texto {
  color: #50ADE4;
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin-bottom: 15px;
  cursor: pointer;
}


#conta-texto {
  color: #50ADE4;
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-left: 8px;
  cursor: pointer;
}
.modules-container {
  margin: 50px;
  background-color: #ebe8ef44;
  border-radius: 20px;
  padding: 30px;
}

.variant2 {
  color: #50ADE4;
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-left: 52px;
}

.variant5 {
  color: #2777a5;
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  font-size: 12px;
}

.informative-card {
  background-color: #f9e93e13;
  margin: 10px 50px 10px 50px;
  padding: 0px 10px 0px 20px;
  border-radius: 6px;
  align-items: center;
  display: flex;
  flex-direction: row;
  border: 1px solid #f9e93e;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.upload-button {
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.upload-button:hover{
  background-color: #cecece;
}

.upload-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;

}

.profile-points {
  background-color: #50ADE4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px 0px 0px 15px;
  height: 10vh;
  width: 12vw;
}

.profile-points p {
  color: white;
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  font-size: 34px;
}

.profile-info-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.progress-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #50ADE410;
  height: 10vh;
  border-radius: 0px 15px 15px 0px;
  width: 30vw;
}

.profile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px;
}

.tab p{
  color: #50ADE4;
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 7px;
  cursor: pointer;

}

.active {
  background-color: white;
  border-radius: 7px;
  padding: 3px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.profile-tabs {
  background-color: #cecece57;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 7px;
}

.variant6 {
  color: #50ADE4;
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-right: auto;
}


.custom-table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.custom-table th,
.custom-table td {
  padding: 8px;
  text-align: left;
  color: #17384C;
  font-family: 'Lexend', sans-serif;
}

.custom-table th {
  border-bottom: 1px solid #ddd;
  font-weight: 600;
  font-size: 14px;

}

.custom-table th:last-child {
  border-radius: 0 8px 0 0; /* Adicione o border-radius desejado */
}

.custom-table th:first-child {
  border-radius: 8px 0 0 0; /* Adicione o border-radius desejado */
}

.custom-table td {
  border-bottom: 1px solid #ddd;
  font-weight: 400;
  font-size: 13px;
}

.tableRow {
  background-color: #fff;
}

.tableRow:hover {
  background-color: #f7f6f66b;
}

.custom-table tr:last-child td {
  border-bottom: none;
}

.custom-table thead {
  background-color: #50ADE41a;
}

.button-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 20px;
  height:25px;
  cursor: pointer;
}
.button-actions:hover {
  background-color: #50ADE41a;

}

mat-form-field{
  width: 90%;

}

.form-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.campo{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
