<div class="questao-container">
  <div class="questao-header">
    <button class="close-button" (click)="closeGame()">
      <mat-icon class="icon-display">close</mat-icon>
    </button>
    <div class="progress-bar">
      <div class="progress-bar-done">
      </div>
    </div>
    <div class="points-container">
      <p class="point-variant">{{score}}</p>
      <svg width="22" height="20" viewBox="0 0 27 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.1948 0.862863L9.0316 7.27644L1.95438 8.30823C0.685227 8.49231 0.176598 10.057 1.09698 10.9531L6.21718 15.9425L5.00616 22.9907C4.78817 24.2647 6.12999 25.219 7.25382 24.6231L13.585 21.2952L19.9163 24.6231C21.0401 25.2141 22.3819 24.2647 22.1639 22.9907L20.9529 15.9425L26.0731 10.9531C26.9935 10.057 26.4849 8.49231 25.2157 8.30823L18.1385 7.27644L14.9753 0.862863C14.4085 -0.280343 12.7664 -0.294876 12.1948 0.862863Z" fill="#FEDC27"/>
      </svg>

    </div>


  </div>
  <div class="questao-content" *ngIf="questoes.length > 0">
    <app-questao #questaoAtual [question]="questoes[currentIndex]" (answerSelected)="handleAnswer($event)"></app-questao>
  </div>

  <div *ngIf="type === 'module' || type === 'homework'" class="questao-footer">
    <button class="questao-button cancel-button" (click)="skipQuestion()">
      PULAR
    </button>
    <button class="questao-button next-button" (click)="nextQuestion()">
      ENVIAR
    </button>

  </div>

</div>
