.questao-container{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
}
.close-button {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  border: 0.5px solid #dace6660;
  background-color: #50ADE4;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #dace66fd;
  margin-right: 25px;
}

.close-button:hover{
  background-color: rgba(218, 206, 102, 0.377);
  cursor: pointer;
}

.questao-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #50ADE4;
  align-items: center;
  height: 64px;
  padding: 0 16px;

}

.point-variant{
  color: yellow;
  position: fixed;
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: auto;
}

.line {
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: blue;
}


.questao-content{
  height: 100%;
  background-color: #FBFBFB;
}

.button {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  border: 0.5px solid #dace6660;
  background-color: #50ADE4;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #dace66fd;
  margin-right: 25px;
  position: absolute;
  right: 10px;
  bottom: 35px;
}

.button:hover{
  background-color: rgba(218, 206, 102, 0.377);
  cursor: pointer;
}
