.questao-container{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: #FBFBFB;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  color: #1b4157d7;
  background-color: #FBFBFB;
}

.close-button:hover{
  color: #1b415754;
  cursor: pointer;
}

.icon-display {
  transform: scale(1.4);
  border-radius: 50%;
}

.questao-header{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.questao-footer{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #50aee442;
  height: 64px;
  margin-bottom: 20px;
}

.point-variant{
  margin-right: 10px;
  color: #1b4157d7;
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.points-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.line {
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: blue;
}


.questao-content{
  height: 100%;
  background-color: #FBFBFB;
}

.button {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  border: 0.5px solid #dace6660;
  background-color: #50ADE4;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #dace66fd;
  margin-right: 25px;
  position: absolute;
  right: 10px;
  bottom: 35px;
}

.button:hover{
  background-color: rgba(218, 206, 102, 0.377);
  cursor: pointer;
}


.progress-bar {
  width: 85%;
  background-color: #c7c5ca;
  height: 15px;
  border-radius: 14px;
  margin: 5px;
}

.progress-bar-done {
  width: 70%;
  background-color: #50ADE4;
  height: 100%;
  border-radius: 14px;
}

.questao-button {
  width: 110px;
  height: 30px;
  border-radius: 20px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
}

.next-button{
  background-color: #50aee486;
  color: #173647d7;
  font-family: 'Lexend', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.next-button:hover{
  background-color: #50aee450;
}

.cancel-button{
  background-color: #acc1ce65;
  color: #17364769;
  font-family: 'Lexend', sans-serif;
  font-weight: 700;
  font-size: 14px;
}

.cancel-button:hover{
  background-color: rgba(80, 174, 228, 0.068)
}
