<p class="variant2">Jornada</p>
<div class="modules-container">
<mat-grid-list [cols]="columns" gutterSize="25px" rowHeight="300px">
  <mat-grid-tile fxFlex.gt-md="33.3%">
    <app-journey-item color="#FCFA14" title="MÓDULO 1" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio"/>
  </mat-grid-tile>
  <mat-grid-tile fxFlex.gt-md="33.3%">
    <app-journey-item color="#FED812" title="MÓDULO 2" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio"/>
  </mat-grid-tile>
  <mat-grid-tile fxFlex.gt-md="33.3%">
    <app-journey-item color="#FFBE0D" title="MÓDULO 3" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio"/>
  </mat-grid-tile>
  <mat-grid-tile fxFlex.gt-md="33.3%">
    <app-journey-item color="#FD9D0C" title="MÓDULO 4" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio"/>
  </mat-grid-tile>
  <mat-grid-tile fxFlex.gt-md="33.3%">
    <app-journey-item color="#FD6E0E" title="MÓDULO 5" description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio"/>
  </mat-grid-tile>
</mat-grid-list>
</div>
