.modules-container {
  margin: 50px;
  background-color: #ebe8ef44;
  border-radius: 20px;
  padding: 30px;
}

.variant2 {
  color: #50ADE4;
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-left: 52px;
}

.questao-container{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
}
.close-button {
  width: 30px;
  height: 30px;
  border-radius: 25px;
  border: 0.5px solid #dace6660;
  background-color: #50ADE4;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #dace66fd;
  margin-right: 25px;
}

.close-button:hover{
  background-color: rgba(218, 206, 102, 0.377);
  cursor: pointer;
}

.questao-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #50ADE4;
  align-items: center;
  height: 64px;
  padding: 0 16px;

}

.point-variant{
  color: yellow;
  position: fixed;
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin: auto;
}

.line {
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: blue;
  animation-name: expandLine;
  animation-duration: 90000ms; /* Duração da animação em milissegundos (90 segundos) */
  animation-fill-mode: forwards; /* Mantém a largura após a animação */
}

@keyframes expandLine {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.questao-content{
  height: 100%;
  background-color: #FBFBFB;
}

