.variant4 {
  color: #17384C;
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.variant6 {
  color: #17384C;
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: justify;
  margin: 10px;
  height: 125px;
}

.blocked-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.module-card-disabled {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}

.module-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 100%;
  height: 100%;
}

.disabled-play-button {
  background-color: #50ADE4;
  width: 110px;
  height: 30px;
  border-radius: 20px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  margin-bottom: 10px;
}

.play-button {
  background-color: #50ADE4;
  width: 110px;
  height: 30px;
  border-radius: 20px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.play-button:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.variant3 {
  color: white;
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
