.variant4 {
  color: #170523;
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.variant6 {
  color: #170523;
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: justify;
}

.module-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 100%;
  height: 100%;
}

.play-button {
  background-color: #170523;
  width: 110px;
  height: 30px;
  border-radius: 20px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
}

.play-button:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.variant3 {
  color: white;
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  font-size: 16px;
}
