<div class="pdf-page-container">
  <p class="variant-title">APRENDIZ METODOLÓGICO</p>
  <img class="img-pdf" src="../../../../../../assets/images/conquista.png">
  <p class="variant-subtitle">Parabéns, {{nomeUsuario}}</p>
  <p class="variant-text">Você atingiu o nível de "Aprendiz Metodológico",
    consolidando sua maestria nas bases essenciais da pesquisa.
    Sua conquista é a prova do seu domínio, pronto para trilhar novos
    caminhos no mundo científico.</p>

  <div class="logo">
    <svg width="20" height="22" viewBox="0 0 40 42" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M20 25.5V0.5L39.5 11L20 25.5Z" fill="#FEEF0D"/>
      <path d="M20 25.5V0.5L0 13L20 25.5Z" fill="#FDD30A"/>
      <path d="M39.5 11L20 25.5V41.5L39.5 28.5V11Z" fill="#EFCB09"/>
      <path d="M0 30.5V13L20 25.5V41.5L0 30.5Z" fill="#E95B06"/>
    </svg>
    <p>METODOLOGIC</p>
  </div>
</div>
