<div class="optativa-container" *ngIf="question.tipo === 'OPTATIVA'">
  <p class="enunciado">Selecione a alternativa que representa um{{title}} do método {{question.conteudo?.metodo}}:</p>
  <div class="opcoes">
    <div *ngFor="let option of options" class="opcao" (click)="selectAnswer(option)">
      <mat-radio-button [value]="option.isAnswer">
        <p class="opcoes-variant">{{option.option}}</p>
      </mat-radio-button>
    </div>
  </div>
</div>
<div class="optativa-container" *ngIf="question.tipo === 'ASSOCIACAO' && !!question.conteudo">
  <div style="display: flex; flex-direction: row; gap: 10px; align-items: center;">
    <p class="enunciado">Associe o método {{question.conteudo?.metodo}} com {{title}} correspondente{{plural? 's': ''}}:</p>
    <p class="enunciado">{{rightOptions}}/{{totalOptions}}</p>
  </div>
  <div class="opcoes">
    <div *ngIf="associatives" class="associative-opcao">
      <div class="associatives-grid">
        <ng-container *ngFor="let item of associatives.answers; let i = index">
          <div  class="associatives-buttons-container-with-content">
            <button [disabled]="rightOptions == totalOptions" class="associative-button answer-button" [ngClass]="{'disabledButton': rightOptions == totalOptions}" (click)="selectAssociativeAnswer(associatives.answers[i].value, associatives.answers[i].metodoKey)">
              <p>
                {{primeiraLetraMaiuscula(item.metodoKey)}}
              </p>
            </button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<div class="optativa-container" *ngIf="question.tipo === 'ASSOCIACAO' && !question.conteudo">
  <p class="enunciado">Associe os métodos listados com {{title}} correspondente{{plural? 's': ''}}:</p>
  <div class="opcoes">
    <div *ngIf="associatives" class="associative-opcao">
      <ng-container *ngFor="let item of associatives.answers; let i = index">
        <div  class="associatives-buttons-container">
          <button class="associative-button metodo-button" (click)="selectAssociativeMetodo(item.value)">
            <p>
              {{associatives.metodos[i].metodoKey}}
            </p>
          </button>
          <button class="associative-button answer-button" (click)="selectAssociativeAnswer(associatives.answers[i].value)">
            <p>
              {{item.metodoKey}}
            </p>
          </button>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="gap-container" *ngIf="question.tipo === 'LACUNAS'">
  <p class="enunciado">Complete a lacuna na seguinte afirmação sobre o método {{question.conteudo?.metodo}}</p>
    <div *ngIf="gapQuestion" class="gap-question-container">
      <p class="variant4">
        {{gapQuestion.sentenceBeforeGap}}
        <mat-form-field class="gap-input" style="width: auto; max-width: 250px; height: 60px;">
          <input [(ngModel)]="gapInput" matInput (input)="onGapInputChange($event)">
        </mat-form-field>
        {{gapQuestion.sentenceAfterGap}}
      </p>
    </div>
</div>
