.modules-container {
  margin: 50px;
  background-color: #ebe8ef44;
  border-radius: 20px;
  padding: 30px;
}

.variant2 {
  color: #50ADE4;
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-left: 52px;
}

.filter-button {
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.filter-button:hover{
  background-color: #cecece;
}

.variant3 {
  color: white;
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  height: 29px;
}

.custom-table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.custom-table th,
.custom-table td {
  padding: 8px;
  text-align: left;
  color: #17384C;
  font-family: 'Lexend', sans-serif;
}

.custom-table th {
  border-bottom: 1px solid #ddd;
  font-weight: 600;
  font-size: 14px;

}

.custom-table th:last-child {
  border-radius: 0 8px 0 0; /* Adicione o border-radius desejado */
}

.custom-table th:first-child {
  border-radius: 8px 0 0 0; /* Adicione o border-radius desejado */
}

.custom-table td {
  border-bottom: 1px solid #ddd;
  font-weight: 400;
  font-size: 13px;
  cursor: pointer;
}

.tableRow {
  background-color: #fff;
}

.tableRow:hover {
  background-color: #f7f6f66b;
}

.custom-table tr:last-child td {
  border-bottom: none;
}

.custom-table thead {
  background-color: #50ADE41a;
}

.button-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 20px;
  height:25px;
  cursor: pointer;
}
.button-actions:hover {
  background-color: #50ADE41a;

}

