<p class="variant2">Tarefas</p>
<div class="modules-container" *ngIf="tarefas.length > 0 || tarefasAluno.length > 0">
  <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-between; align-items: center;">
    <mat-form-field appearance="outline" color="primary" style="width: calc(30% + 90px); margin-bottom: 0px;">
      <mat-label >
        <svg width="19" height="19" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M29.6686 26.0085L23.8112 20.1511C23.5468 19.8867 23.1885 19.7399 22.8125 19.7399H21.8549C23.4763 17.666 24.4398 15.0575 24.4398 12.2199C24.4398 5.46959 18.9703 0 12.2199 0C5.46959 0 0 5.46959 0 12.2199C0 18.9703 5.46959 24.4398 12.2199 24.4398C15.0575 24.4398 17.666 23.4763 19.7399 21.8549V22.8125C19.7399 23.1885 19.8867 23.5468 20.1511 23.8112L26.0085 29.6686C26.5607 30.2208 27.4537 30.2208 28.0001 29.6686L29.6627 28.0059C30.2149 27.4537 30.2149 26.5607 29.6686 26.0085ZM12.2199 19.7399C8.06632 19.7399 4.69997 16.3794 4.69997 12.2199C4.69997 8.06632 8.06045 4.69997 12.2199 4.69997C16.3735 4.69997 19.7399 8.06045 19.7399 12.2199C19.7399 16.3735 16.3794 19.7399 12.2199 19.7399Z" fill="#17384C"/>
        </svg>

        </mat-label>
      <input matInput [(ngModel)]="searchInput" (input)="handleSearch($event)"/>
    </mat-form-field>
    <div style="display: flex; justify-content: flex-end;">
      <button *ngIf="userRole === 'professor'" style="background-color: #50aee411;" mat-icon-button (click)="modal.toggle()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
</div>

<table class="custom-table mat-table">
  <thead *ngIf="resultados.length > 0 || resultadosAluno.length > 0">
    <tr>
      <th></th>
      <th>Data de entrega</th>
      <th>Turma</th>
      <th>Nome</th>
      <th>Instituição</th>
      <th>Curso</th>
      <th>Data da atribuição</th>
      <th *ngIf="userRole === 'aluno'">Nota</th>
      <th *ngIf="userRole === 'professor'"></th>

    </tr>
  </thead>
  <tbody *ngIf="userRole === 'aluno' && !loadingAluno">
    <tr *ngFor="let homework of resultadosAluno; let i = index" class="tableRow">
      <td *ngIf="homework.done">
          <svg width="54" height="24" viewBox="0 0 94 64" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.7" d="M47.5 63.2313L0 39.3537L47.5 21.2245L93.5 45.102L47.5 63.2313Z" [attr.fill]="'rgb(255, ' + (255 - i * 10) + ', 0)'"/>
            <path opacity="0.7" d="M47.5 54.3878L0 30.5102L47.5 12.381L93.5 36.2585L47.5 54.3878Z"  [attr.fill]="'rgb(255, ' + (255 - i * 10) + ', 0)'"/>
            <path opacity="0.7" d="M47.5 42.0068L0 18.1293L47.5 0L93.5 23.8775L47.5 42.0068Z" [attr.fill]="'rgb(255, ' + (255 - i * 10) + ', 0)'"/>
          </svg>
      </td>
      <td *ngIf="!homework.done && (homework.tarefa.dataEntrega+'') > dataAtual.toISOString()" (click)="openHomework(homework.tarefa.id)" style="cursor: pointer;">
          <svg width="54" height="24" viewBox="0 0 94 64" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.7" d="M47.5 63.2313L0 39.3537L47.5 21.2245L93.5 45.102L47.5 63.2313Z" fill="#D3D3D3"/>
            <path opacity="0.7" d="M47.5 54.3878L0 30.5102L47.5 12.381L93.5 36.2585L47.5 54.3878Z"  fill="#D3D3D3"/>
            <path opacity="0.7" d="M47.5 42.0068L0 18.1293L47.5 0L93.5 23.8775L47.5 42.0068Z" fill="#D3D3D3"/>
          </svg>
      </td>
      <td *ngIf="(homework.tarefa.dataEntrega+'') < dataAtual.toISOString() && !homework.done">
        <svg width="54" height="24" viewBox="0 0 94 64" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path opacity="0.7" d="M47.5 63.2313L0 39.3537L47.5 21.2245L93.5 45.102L47.5 63.2313Z" fill="#ec6853"/>
          <path opacity="0.7" d="M47.5 54.3878L0 30.5102L47.5 12.381L93.5 36.2585L47.5 54.3878Z"  fill="#ec6853"/>
          <path opacity="0.7" d="M47.5 42.0068L0 18.1293L47.5 0L93.5 23.8775L47.5 42.0068Z" fill="#ec6853"/>
        </svg>
    </td>
      <td>{{ homework.tarefa.dataEntrega | date:'dd/MM/yyyy' }}</td>
      <td>{{ homework.tarefa.turma.nome }}</td>
      <td>{{ homework.tarefa.nome }}</td>
      <td>{{ homework.tarefa.turma.instituicaoEnsino }}</td>
      <td>{{ homework.tarefa.turma.curso }}</td>
      <td>{{ homework.tarefa.dataAtribuicao | date:'dd/MM/yyyy' }}</td>
      <td>{{ homework.nota }}</td>

    </tr>
  </tbody>
  <tbody *ngIf="userRole === 'professor'">
    <tr *ngFor="let homework of resultados; let i = index" class="tableRow">
      <td>
        <svg width="54" height="24" viewBox="0 0 94 64" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path opacity="0.7" d="M47.5 63.2313L0 39.3537L47.5 21.2245L93.5 45.102L47.5 63.2313Z" [attr.fill]="'rgb(255, ' + (255 - i * 10) + ', 0)'"/>
          <path opacity="0.7" d="M47.5 54.3878L0 30.5102L47.5 12.381L93.5 36.2585L47.5 54.3878Z"  [attr.fill]="'rgb(255, ' + (255 - i * 10) + ', 0)'"/>
          <path opacity="0.7" d="M47.5 42.0068L0 18.1293L47.5 0L93.5 23.8775L47.5 42.0068Z" [attr.fill]="'rgb(255, ' + (255 - i * 10) + ', 0)'"/>
        </svg>
      </td>
      <td>{{ homework.dataEntrega | date:'dd/MM/yyyy' }}</td>
      <td>{{ homework.turma.nome }}</td>
      <td>{{ homework.nome }}</td>
      <td>{{ homework.turma.instituicaoEnsino }}</td>
      <td>{{ homework.turma.curso }}</td>
      <td>{{ homework.dataAtribuicao | date:'dd/MM/yyyy' }}</td>
      <td>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="modalGrade.toggle(homework.id + '')" style="color: '#55E397'">
            <mat-icon class="icon-display" color="accent">school</mat-icon>
            <span>Avaliar</span>
          </button>
          <button mat-menu-item (click)="modalEdit.toggle(homework.id + '')">
            <mat-icon class="icon-display" color="primary">edit</mat-icon>
            <span>Editar</span>
          </button>
          <button mat-menu-item (click)="modalDelete.toggle(homework.id)">
            <mat-icon class="icon-display" color="warn">delete</mat-icon>
            <span>Deletar</span>
          </button>
        </mat-menu>
      </td>

    </tr>
  </tbody>
</table>


</div>

<div *ngIf="userRole === 'professor'">
  <div  class="empty-modules-container" *ngIf="tarefas.length === 0">
    <app-empty-state
      [title]="titleEmpty"
      [description]="descriptionEmpty"
      imgSource="../../../../assets/images/empty-homework.png"
    >
    <button class="empty-button" (click)="emptyClick()">Criar tarefa</button>
    </app-empty-state>

  </div>

  <div  class="empty-modules-container" *ngIf="(resultados.length === 0) && (tarefas.length > 0)">
    <app-empty-state
      title="Nenhum resultado encontrado"
      description="Nenhuma tarefa encontrada para a busca realizada, busque por outros valores ou apague e veja todas tarefas"
      imgSource="../../../../assets/images/empty-homework.png"
    >
    </app-empty-state>

  </div>
</div>

<div *ngIf="userRole === 'aluno'">
  <div  class="empty-modules-container" *ngIf="tarefasAluno.length === 0">
    <app-empty-state
      [title]="titleEmpty"
      [description]="descriptionEmpty"
      imgSource="../../../../assets/images/empty-homework.png"
    />

  </div>

  <div  class="empty-modules-container" *ngIf="(resultadosAluno.length === 0) && (tarefasAluno.length > 0)">
    <app-empty-state
      title="Nenhum resultado encontrado"
      description="Nenhuma tarefa encontrada para a busca realizada, busque por outros valores ou apague e veja todas tarefas"
      imgSource="../../../../assets/images/empty-homework.png"
    >
    </app-empty-state>

  </div>
</div>





<app-modal #modal title="Criar nova tarefa">
  <app-modal-homeworks></app-modal-homeworks>
</app-modal>

<app-modal #modalEdit title="Editar tarefa">
  <app-modal-homeworks [tarefaId]="modalEdit.id"></app-modal-homeworks>
</app-modal>

<app-modal #modalGrade title="Visualizar notas">
  <app-modal-grades-homework [tarefaId]="modalGrade.id"></app-modal-grades-homework>
</app-modal>

<app-modal-delete #modalDelete (delete)="handleDeleteHomework($event)" title="Deletar tarefa" description="Tem certeza de que deseja excluir esta tarefa? A exclusão removerá todas as notas dos alunos."></app-modal-delete>
