
.modules-container {
  margin: 50px;
  background-color: #ebe8ef44;
  border-radius: 20px;
  padding: 30px;
}

.variant2 {
  color: #50ADE4;
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-left: 52px;
}

.play-button {
  background-color: #50ADE4;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.play-button:hover{
  background-color: #503d73;
}

.variant3 {
  color: white;
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.custom-table {
  border-collapse: collapse;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.custom-table th,
.custom-table td {
  padding: 8px;
  text-align: left;
  color: #17384C;
  font-family: 'Lexend', sans-serif;
}

.custom-table th {
  border-bottom: 1px solid #ddd;
  font-weight: 600;
  font-size: 14px;

}

.custom-table th:last-child {
  border-radius: 0 8px 0 0; /* Adicione o border-radius desejado */
}

.custom-table th:first-child {
  border-radius: 8px 0 0 0; /* Adicione o border-radius desejado */
}

.custom-table td {
  border-bottom: 1px solid #ddd;
  font-weight: 400;
  font-size: 13px;
}

.tableRow {
  background-color: #fff;
}

.tableRow:hover {
  background-color: #f7f6f66b;
}

.custom-table tr:last-child td {
  border-bottom: none;
}

.custom-table thead {
  background-color: #50ADE41a;
}

.button-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 20px;
  height:25px;
  cursor: pointer;
}
.button-actions:hover {
  background-color: #50ADE41a;

}

.form-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #cecece33;
}


.row-form{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.form-button {
  background-color: #50ADE4;
  width: 110px;
  height: 30px;
  border-radius: 20px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 5px;
}

.form-button:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.variant3 {
  color: white;
  font-family: 'Lexend', sans-serif;
  font-weight: 300;
  font-size: 16px;
}

.modal-footer{
  border-top: 1px solid #17384c31;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 40px;
}


.tab p{
  color: #17384C;
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 7px;
  cursor: pointer;

}

.active {
  background-color: white;
  border-radius: 7px 7px 0px 0px;
  padding: 3px;
}

.profile-tabs {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 7px  7px 0px 7px;
}

.options{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.formCreate{
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 96.5%;
  border-radius: 0px 7px 7px 7px;
}

.students{
  width: 90%;
  border-radius: 7px;
  background-color: #50aee418;
}

.variant6 {
  color: #17384ccb;
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  font-size: 13px;
  margin: 0px
}

.emptyClass{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.studentClass{
  display: flex;
  flex-direction: column;
  height: 300px;
}

.studentCard{
  border-bottom: 0.8px solid #17384c3f;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.studentCard p{
  color: #17384cd0;
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-left: 10px;
}

.remove-button {
  background-color: #add2e7a6;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.remove-button:hover{
  background-color: #503d731f;
}
