<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Righteous&family=Varela+Round&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="container">
<mat-toolbar color="primary" class="menu">
  <span class="text" style="cursor: pointer;" routerLink="">

    <svg width="30" height="32" viewBox="0 0 40 42" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M20 25.5V0.5L39.5 11L20 25.5Z" fill="#FEEF0D"/>
      <path d="M20 25.5V0.5L0 13L20 25.5Z" fill="#FDD30A"/>
      <path d="M39.5 11L20 25.5V41.5L39.5 28.5V11Z" fill="#EFCB09"/>
      <path d="M0 30.5V13L20 25.5V41.5L0 30.5Z" fill="#E95B06"/>
    </svg>

  </span>
  <div style="margin-left: 60px; height: 100%;">
    <button class="menu-button" color="primary" routerLink="/journey"><p class="variant1" >Jogar</p></button>
    <button class="menu-button" color="primary" routerLink="/homeworks"><p class="variant1" >Tarefas</p></button>
    <button class="menu-button" color="primary" routerLink="/classes"><p class="variant1" >Turmas</p></button>
  </div>

  <div *ngIf="isLogged" class="example-card" style="margin-left: auto; ">
    <div style="display: flex; flex-direction: row;">
      <div class="profile-image" style="margin-right: 12px;">
        <p>{{userProfilePicture}}</p>
      </div>
      <div style="display: flex; flex-direction: column; margin-right: 20px;">
        <p class="variant2" style="font-weight: 500;">{{userName}}</p>
        <p class="variant3">{{userEmail}}</p>
      </div>
    </div>
  </div>
  <button *ngIf="isLogged" class="round-button" [matMenuTriggerFor]="menu">
    <svg width="77" height="50" viewBox="0 0 66 40" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M30.2099 38.7024L1.0546 9.5469C-0.351534 8.14076 -0.351534 5.86106 1.0546 4.45507L4.4551 1.05457C5.85884 -0.349168 8.13389 -0.35187 9.54093 1.04857L32.7559 24.1548L55.9707 1.04857C57.3778 -0.35187 59.6528 -0.349168 61.0566 1.05457L64.4571 4.45507C65.8632 5.86121 65.8632 8.14091 64.4571 9.5469L35.3019 38.7024C33.8958 40.1084 31.6161 40.1084 30.2099 38.7024Z" fill="#FFEB3B"/>
    </svg>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/profile">Ver perfil</button>
    <button mat-menu-item (click)="logout()">Desconectar</button>
  </mat-menu>

</mat-toolbar>
<div class="router-container">
<router-outlet></router-outlet>
</div>
</div>
