.empty-state-container{
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.empty-icon-container{
  height: 100px;
  width: 100px;
  background-color: #00000015;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty-icon{
  height: 100%;
}

.empty-title{
  color: #173647;
  font-family: 'Lexend', sans-serif;
  font-weight: 500;
  font-size: 19px;
}

.empty-description{
  color: #1736473f;
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 50%;
  text-align: center;
}
